*.ide-wal
*.ide-shm
*.ide
*.lock
EscapeHospital/Library/metadata/7b/
EscapeHospital/Library/metadata/96/
EscapeHospital/Library/ShaderCache/e/
EscapeHospital/Library/ShaderCache/
EscapeHospital/Library/metadata/
EscapeHospital/Temp/UnityTempFile-f93be2ec6b2cc144f9013f8dc39b77ec
EscapeHospital/Temp/
